* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #F5F6FD;
    border-color: #CDCDF8;
}

#header {
    height: 15%;
    width: 100%;
    background-color: beige;
}

#menu {
    height: 20%;

    margin-left: 35px;

    border: 1px solid rgba(230, 235, 245, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02),
        /* Ultra-faint dark shadow for depth */
        0 2px 4px rgba(220, 225, 235, 0.5);
}

#logo {
    height: 50%;
    width: 15%;
    margin-top: 30px;
    margin-left: 35%;
}

#mode {
    height: 90%;
    width: 10%;
    margin-left: 10px;

}

#navbar {
    height: 20%;
    width: 100%;
    background-color: rgb(131, 246, 169);
}

.hero {
    height: 35%;
    width: 100%;
    display: flex;


}

#pokecard1 {
    background-color: rgb(143, 240, 240);
    flex: 1;
}

#pokecard2 {
    background-color: rgb(5, 9, 9);
    flex: 1;
}

#pokecard3 {
    background-color: rgb(71, 59, 237);
    flex: 1;
}

#pokecard4 {
    background-color: rgb(225, 238, 84);
    flex: 1;
}


#filters {
    height: 17%;
    width: 100%;
    background-color: rgb(221, 169, 248);
}

#dotted {
    width: 20px;
    height: 20px;
    display: absolute;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: beige;
}